<%=message%>

<table>
	<tr>
		<td class="br">1</td><td class="br">2</td><td class="b">3</td>
	</tr><tr>
		<td class="br">4</td><td class="br">5</td><td class="b">6</td>
	</tr><tr>
		<td class="r">7</td><td class="r">8</td><td>9</td>
	</tr>
</table>

 
<form action="/main_page" method="POST"> 
 
Please choose x or o:<input type="text" name="selection">	<br> <br>
</form>










